
<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- CSS Implementing Plugins -->
<link  rel="stylesheet" href="../../assets/vendor/animate.css">
  <title>Document</title>
</head>
<body>
  <section class="g-flex-centered g-height-450 g-bg-gray-light-v5 g-py-30">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center g-py-20">
        <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20" data-animation="fadeInLeft" data-animation-delay="500" data-animation-duration="2000">Content block</h2>
        <p class="lead mb-0 g-line-height-2" data-animation="fadeInLeft" data-animation-delay="500" data-animation-duration="2000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
      </div>

      <div class="col-md-6 align-self-center g-py-20">
        <img class="w-100" src="../../assets/img-temp/400x270/img28.jpg" alt="Iamge Description" data-animation="fadeInRight" data-animation-delay="500" data-animation-duration="2000">
      </div>
    </div>
  </div>
</section>
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<!-- JS Implementing Plugins -->
<script  src="../../assets/vendor/appear.js"></script>

<!-- JS Unify -->
<script  src="../../assets/js/components/hs.onscroll-animation.js"></script>

<!-- JS Plugins Init. -->
<script >
  $(document).ready(function () {
    // initialization of scroll animation
    $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');
  });
</script>
</body>
</html>